body{
    background-color: var(--background_color);
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    align-items: center;
    height: 76px;
}

.header_logo_{
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 222px;
    margin-left: 70px;
}

.header_logo_item{
    color:  rgb(50,99,123);
    font-size: 50px;
}

.header_connect_noti{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
}
.header_connect_noti:hover{
    background-color: rgb(21,17,68);
    
}
.header_connect_noti_item {
    padding: 13px;
}

.header_logo-text{
    margin-left: 5px;
    color: rgb(218,219,223)
}
.header_connect{
    display: flex;
    align-items: center;
}


.header_connect_noti{
    color: rgb(97,114,157);
}

.header_connect_wallet{
    width: 164px;
    height: 44px;
    border-radius: 12px;
    border: 0.5px solid var(--text_color_hover);
    background-image: linear-gradient(125deg, rgb(27,63,85),rgb(21,36,62));
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}
.header_connect_wallet-text{
    text-decoration: none;
    margin: auto;
    color: var(--text_color_hover);
    
}
.header_connect_wallet-icon-item{
    color: var(--text_color_hover);
    font-size: 20px;
    padding-left: 10px;
}

.list_top_left{
    width: 250px;
    height: 400px;
    overflow-y: scroll;
    
}

.list_bottom_left{
    width: 250px;
    height: 190px;
    overflow-y: scroll;
    
}

.list-toots::-webkit-scrollbar {
    background-color: rgb(191, 204, 200);
    width: 6px;
    border-radius: 3px;
} 


.list_top_left ul, .list_bottom_left ul{
    list-style: none;
    margin-left: 0;
}
.list_top_left_btn{
    display: flex;
    height: 50px;
    border-radius:12px ;
    align-items: center;
    justify-content: flex-start;
    margin: 5px;
}

.list_top_left_btn:hover{
    background-color: var(--background_color_btn);
}

.list_top_left_btn_icon{
    padding: 8px;
    color: var(--text_color);
    margin: auto 20px;
    width: 18px;
    height: 18px;
    border-radius: 6px;
    background-image: var(--background_liner);
   
}
.list_top_left_btn_title{
    
    text-decoration: none;
    color: var(--text_color);
}

.spenrea{
    margin: 30px 0px;
    width: 250px;
}
.spenrea_boder-bottom{
    margin: auto;
    width: 150px;
    border-bottom: 0.06px solid var(--text_color) ;
}
footer{
    height: 66px;
    width: 250px;
}