body {
    background-color: var(--background_color);
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    overflow-x:scroll;
}

/* Header */

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    align-items: center;
    height: 76px;
}

.header_logo_ {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 222px;
    margin-left: 70px;
}

.header_logo_item {
    color: rgb(50, 99, 123);
    font-size: 50px;
}

.header_connect_noti {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
}

.header_connect_noti:hover {
    background-color: rgb(21, 17, 68);

}

.header_connect_noti_item {
    padding: 13px;
}

.header_logo-text {
    margin-left: 5px;
    color: rgb(218, 219, 223)
}

.header_connect {
    display: flex;
    align-items: center;
}


.header_connect_noti {
    color: rgb(97, 114, 157);
}

.header_connect_wallet {
    width: 164px;
    height: 44px;
    border-radius: 12px;
    border: 0.5px solid var(--text_color_hover);
    background-image: linear-gradient(125deg, rgb(27, 63, 85), rgb(21, 36, 62));
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}

.header_connect_wallet-text {
    text-decoration: none;
    margin: auto;
    color: var(--text_color_hover);

}

.header_connect_wallet-icon-item {
    color: var(--text_color_hover);
    font-size: 20px;
    padding-left: 10px;
}

/* Conatiner*/
.container {
    display: flex;
}

/* .list_top_left */
.list_top_left {
    /* width: 250px; */
    height: 300px;
    overflow-y: scroll;
}

.list_bottom_left {
    /* width: 250px;  */
    height: 190px;
    overflow-y: scroll;
}

/* .list_top_left_btn_title{
    display: none;
} */

.list-toots::-webkit-scrollbar {
    background-color: rgb(23, 47, 71);
    width: 6px;
    height: 6px;
    border-radius: 3px;
}


.list_top_left ul,
.list_bottom_left ul {
    list-style: none;
    margin-left: 0;
}

.list_top_left_btn {
    display: flex;
    height: 50px;
    border-radius: 12px;
    align-items: center;
    justify-content: flex-start;
    margin: 5px;
    cursor: pointer;
}

.list_top_left_btn:hover {
    background-color: var(--background_color_btn);
}

.list_top_left_btn_icon {
    padding: 8px;
    color: var(--text_color);
    margin: auto 20px;
    width: 18px;
    height: 18px;
    border-radius: 6px;
    background-image: var(--background_liner);

}

.list_top_left_btn_title {
    padding-right: 26px;
    text-decoration: none;
    color: var(--text_color);
}

.spenrea {
    margin: 30px 0px;
    margin-left: 68px;
    /* width: 250px; */
    display: flex;
    justify-content: space-between;
}

.spenrea_boder-bottom {
    margin: auto;
    width: 30%;
    border-bottom: 0.06px solid rgb(23, 47, 71);
}

.spenrea_icon {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    justify-content: space-around;
    cursor: pointer;
}

.spenrea_icon:hover {
    box-shadow: 0 0 5px var(--text_color_hover);
}

.spenrea_icon:active {
    box-shadow: 0 0 10px var(--text_color_hover);
}

footer {
    /* width: 250px; */
    color: rgb(97, 114, 157);
    background-color: var(--background_color);
    margin: 1px 0;
    font-size: 15px;
}
footer span {
    margin-top: 10px;
    padding-left: 50px;
}



/*Right main */
.right {
    flex: 1;
}


.right_main {
    margin-left: 10px;
    width: 100%;
    background-color: var(--background_color_main-right);
    border-radius: 30px 0 0 0;
    height: 628px;
    overflow-y: scroll;
}

.right_main-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.right_header {
    width: 200px;
    height: 46px;
    background-image: var(--background_main-right_liner);
    border-radius: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right_header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 85%;

}

.right_header-nav-select {
    width: 50%;
    height: 85%;
    background-image: linear-gradient(250deg, rgb(34, 99, 250), rgb(56, 197, 218));
    border-radius: 52px;
}

.right_header-nav-select a {
    color: #fff !important;
    font-weight: 500;
}


.right_header-nav a {
    text-decoration: none;
    color: rgb(167, 193, 253);
}

/* right_main-header */
.right_body {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.right_main-body {
    width: 456px;
    height: 406px;
    background-image: var(--background_main-right_liner);
    border-radius: 20px;
}

.margin_top_38px {
    margin-top: 38px !important;
}

.right_main-body_swap {
    margin: 20px auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.right_main-body_swap-boder {
    width: 408px;
    background-color: rgb(20, 16, 69);
    border-radius: 10px;
}

.right_main-body_swap-boder_header {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    color: var(--text_color_right-main);
    font-size: 12px;
}

.right_main-body_swap-boder_body {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.right_main-body_swap-boder_body_left {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.right_main-body_swap-boder_body_in {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.right_main-body_swap-boder_body_right {
    display: flex;
    align-items: center;
    flex: 2;
}

.right_main-body_swap-boder_body_left_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 28px;
    height: 28px;
    background-image: var(--background_main-right_liner);
    border-radius: 50%;
    border: 2px solid var(--text_color_right-main);
}

.right_main-body_swap-boder_body_left-icon {
    color: rgb(235, 176, 26);
    font-size: 16px;
}

.ethereum {
    color: rgb(204, 210, 214);
}

.right_main-body_swap-boder_body a {
    text-decoration: none;
    color: var(--text_color_right-main);
}

.right_main-body_swap-boder_body_left_title {
    flex: 1;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    cursor: pointer;
}

/* .right_main-body_swap-boder_body_left_title-coin a {
    font-weight: 500;
    color: rgb(167, 193, 253);
} */

.right_main-body_swap-boder_body_left_title-coin span {
    font-weight: 500;
    color: rgb(167, 193, 253);
}

.right_main-body_swap-boder_body_left_title-icon {
    font-size: 10px;
    color: rgb(167, 183, 233);
}

.right_main-body_swap-boder_body_left_title-item {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.right_main-body_swap-boder_body-boundary {
    display: flex;
    align-items: center;
}

.right_main-body_swap-boder_body-boundary-item {
    height: 80%;
    border-left: 1px solid var(--text_color_right-main);
}

.right_main-body_swap-boder_body_in-box {
    border-radius: 4px;
    height: 70%;
    background-color: rgb(26, 21, 84);
    margin: 0;
}

.right_main-body_swap-boder_body_in-box a {
    padding: 3px;
    font-size: 12px;
}

.margin-left {
    margin-left: 10px;
}

.margin-right {
    margin-right: 10px;
}

.right_main-body_swap-boder_dola {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 4px;
}

.right_main-body_swap-boder_dola__ span {
    font-size: 12px;
    color: var(--text_color_right-main);
}

.right_main-body_swap-boder_body_right-input input {
    width: 100%;
    border: none;
    background-color: transparent;
    height: 30px;
    font-size: 20px;
    color: #fff;
    outline: 0;
    text-align: end;
}

.right_main-body_swap-boder_body_right-input input::-webkit-input-placeholder {
    color: var(--text_color_right-main);
    font-size: 12px;
    padding-left: 40%;
}

.right_main-body-icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.right_main-body-icon-boder {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-image: var(--background_main-right_liner);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid var(--text_color_right-main);
    cursor: pointer;
}

.right_main-body-icon-boder:hover {
    box-shadow: 0 0 5px var(--text_color_hover);
}

.right_main-body-icon-boder:active {
    box-shadow: 0 0 10px var(--text_color_hover);
}

.right_main-body-icon-boder-icon {
    color: var(--text_color_hover);
}

.right_main-body-confirm {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.right_main-body-confirm-connect {
    width: 404px;
    height: 44px;
    background-image: linear-gradient(90deg, rgb(30, 67, 116), rgb(35, 34, 102));
    border: 2px solid var(--text_color_right-main);
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.right_main-body-confirm-connect a {
    text-decoration: none;
    color: var(--text_color_hover);
    font-size: 20px;
    font-weight: 400;
}

/* right_main-footer */

.right_main-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.right_main-footer-box {
    margin-top: 40px;
    width: 456px;
    border-radius: 20px;
    background-image: var(--background_main-right_liner);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.right_main-footer-boder {
    width: 400px;
    /* background-color: aquamarine; */
    display: flex;
    text-align: center;
    align-items: center;
    margin: 10px 0 5px 0;
}

.right_main-footer-boder_coin {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.right_main-footer-boder_price {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.right_main-footer-boder_priceChange {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.right_main-footer-boder-chart {
    flex: 2;

}

.right_main-footer-boder_coin-name,
.right_main-footer-boder_price-dola {
    color: rgb(167, 193, 253);
    margin: 3px;
}

.right_main-footer-boder_coin-name span,
.right_main-footer-boder_price-dola span {
    font-size: 15px;
}

.right_main-footer-boder_priceChange-24h,
.right_main-footer-boder_price-price {
    color: var(--text_color_right-main);
}

.right_main-footer-boder_price-price span,
.right_main-footer-boder_priceChange-24h span {
    font-size: 12px;
}

.right_main-footer-boder_priceChange-percen {
    color: rgb(196, 44, 222);
}

.text-color-up {
    color: #39D0D8 !important;
}

/* right_main_select---------------------------------- */

.right_select{
    flex: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
.right_main_select {
    background-color: rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 30px 0 0 0;
    margin-left: 10px;
    width: 100%;
    height: 628px;
}

.right_main_select_box {
    width: 456px;
    background-image: var(--background_main-right_liner);
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    
}

.right_main_select_box_boder {
    width: 400px;
    display: none;
    animation: happan ease-in-out 0.5s;
}

@keyframes happan{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* ---------------------------------------------- */

.right_main_select_box_header,
.right_main_select_box_search,
.right_main_select_box_popular_list,
.right_main_select_box_main_header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

/* right_main_select_box_header */
.right_main_select_box_header_title {
    color: aliceblue;
}

.right_main_select_box_header_icon {
    color: var(--color_name_coin);
    cursor: pointer;
    
}
.right_main_select_box_header_icon:hover{
    color: var(--color_name_coin_hover);
}
.right_main_select_box_header_icon{
    color: var(--color_name_coin);
}
.right_main_select_box_header_icon_{
    padding: 10px;
}

.right_main_select_box_header_icon i {
    font-weight: 100;
}


/* .right_main_select_box_search */
.right_main_select_box_search {
    background-color: var(--background_color);
    border-radius: 12px;
}

.right_main_select_box_search_input {
    flex: 1;

}

.right_main_select_box_search_input input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--color_name_coin);
    height: 30px;
    font-weight: inherit;
    font-size: 20px;
    margin: 8px 20px;
}

.right_main_select_box_search_icon {
    color: var(--color_name_coin);
    font-weight: 100;
}

.right_main_select_box_search_icon i {
    padding-right: 20px;
}

/* right_main_select_box_popular */

.right_main_select_box_popular_title,
.right_main_select_box_main_header_token,
.right_main_select_box_main_header_balance{
    text-align: left;
    color: var(--text_color_right-main);
}

.right_main_select_box_popular_list {
    border-bottom: 1px solid var(--text_color_right-main);
}

.right_main_select_box_popular_list_ {
    border: 1px solid var(--text_color_right-main);
    border-radius: 6px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    cursor: pointer;
}
.right_main_select_box_popular_list_:hover{
background-color: var(--background_color_btn_hover) ;
}


.right_main-body_swap-boder_body_left_item {
    margin: 2px 4px 2px 8px;
}

.right_main_select_box_popular_list_name {
    padding-right: 8px;
    color: var(--color_name_coin);
}

/* right_main_select_box_main_list */
.right_main_select_box_main_list{
    height: 240px;
    overflow-y: scroll;
    margin-bottom: 30px;
}

.right_main_select_box_main_list_token{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: justify;
    border-radius: 12px;
    cursor: pointer;
}
.right_main_select_box_main_list_token:hover{
    background-color: var(--background_color_btn_hover);
}

.right_main_select_box_main_list_token_icon{
    
    margin: 20px 8px;
}
.right_main_select_box_main_list_token_infor{
    display: flex;
    flex-direction: column;
}
.right_main_select_box_main_list_token_infor_symbol{
    flex: 1;
    color: var(--color_name_coin);
}
.right_main_select_box_main_list_token_infor_name {
    color: var(--text_color_right-main);
    font-size: 14px;
    font-weight: 500;
}

/* right_main_select_box_footer */
.right_main_select_box_footer{
    color: var(--color_name_coin);
    border-top: 1px solid var(--text_color_right-main);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.right_main_select_box_footer_item{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    height: 50px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.right_main_select_box_footer_item:hover{
    background-color:  var(--background_color_btn_hover);
}

.right_main {
    /* display: none; */
}